/* src/styles/Footer.css */
.footer {
  background-color: #f8f9fa; /* Light background color */
  color: #333; /* Darker text color */
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%; /* Adjust based on sidebar width */
  margin-left: 0px;
  box-sizing: border-box;
  border-top: 1px solid #e9ecef; /* Light border on top */
}
