/* src/styles/Header.css */
.dasboard-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure items are vertically centered */
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.brand h1 {
  font-size: 24px;
}

.header-right {
  display: flex;
  align-items: center; /* Align items horizontally */
}

.bell-icon {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.user-info {
  display: flex; /*block !important; /* Align items horizontally */
  align-items: center; /* Center items vertically */
 /* position: relative; /* Allows for positioning */
 /* top: 50%; /* Moves the container's content down by 50% */
 /* transform: translateY(-20%); /* Adjusts content back up by half its height */
}

.user-name {
  margin-right: 10px; /* Space between name and picture */
  font-size: 16px; /* Adjust font size for clarity */
}

.user-pic-small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
